version: '3.3'
services:
  crux-ui:
    container_name: crux-ui
    image: ghcr.io/dyrector-io/dyrectorio/web/crux-ui:${CRUX_UI_IMAGE_TAG}
    build: .
    environment:
      - TZ=UTC
      - KRATOS_URL=$KRATOS_URL
      - CRUX_API_ADDRESS=$CRUX_API_ADDRESS
      - RECAPTCHA_SECRET_KEY=$RECAPTCHA_SECRET_KEY
      - RECAPTCHA_SITE_KEY=$RECAPTCHA_SITE_KEY
    restart: unless-stopped
    networks:
      - crux-intranet
volumes:
  crux-ui-certs:
networks:
  crux-intranet:
    name: crux-intranet
    external: true
