version: '3.3'

services:
  crux-ui:
    container_name: crux-ui
    image: ghcr.io/dyrector-io/dyrectorio/web/crux-ui:${CRUX_UI_IMAGE_TAG}
    build:
      context: .
      args:
        - NEXT_PUBLIC_RECAPTCHA_SITE_KEY=$NEXT_PUBLIC_RECAPTCHA_SITE_KEY
    environment:
      - TZ=Europe/Budapest
      - KRATOS_URL=$KRATOS_URL
      - CRUX_ADDRESS=$CRUX_ADDRESS
      - RECAPTCHA_SECRET_KEY=$RECAPTCHA_SECRET_KEY
    restart: unless-stopped
    volumes:
      - crux-ui-certs:/usr/certs
    networks:
      - crux-intranet

volumes:
  crux-ui-certs:

networks:
  crux-intranet:
    name: crux-intranet
    external: true
