version: "3.9"
services:{{ range . }}{{ if .Enabled }}

  {{ .Name }}:
    hostname: {{ .Name }}
    container_name: dyrectorio-stack_{{ .Name }}
    image: {{ .Image }}
    networks:
      - dyrectorio-stack
    pull_policy: always{{ if .EnvVars }}
    environment:{{ end }}{{ range .EnvVars }}
      - {{ .Key }}={{ .Value }}{{ end }}{{ if .Depends }}
    depends_on:{{ end }}{{range .Depends }}
      {{ . }}{{ end }}{{ if .Ports }}
    ports:{{ end }}{{ range .Ports }}
      - {{ .Host }}:{{ .Container }}{{ end }}{{ if .Volumes }}
    volumes:{{ end }}{{ range .Volumes }}
      - {{ .Host }}:{{ .Container }}:{{ if .RO }}ro{{ else }}rw{{ end }}{{ end }}{{ if .Restart }}
    restart: unless-stopped{{ end }}{{ if .Command }}
    command: {{ .Command }}{{ end }}{{ end }}{{ end }}

networks:
  dyrectorio-stack:
    driver: bridge
    external: true

volumes:{{ range . }}{{ range .Volumes}}
  {{ .Host }}:{{ end }}{{ end }}
