http:
  routers:
    crux-ui:
      rule: Host(`localhost`) || Host(`{{.InternalHost}}`)
      service: crux-ui
      entryPoints:
        - web

    crux:
      rule: (Host(`localhost`) || Host(`{{.InternalHost}}`)) && PathPrefix(`/api/new`)
      service: crux
      entryPoints:
        - web
      middlewares:
        - crux-strip-prefix

  middlewares:
    crux-strip-prefix:
      stripprefix:
        prefixes: /api/new

  services:
    crux-ui:
      loadBalancer:
        servers:
          - url: http://{{.InternalHost}}:{{.CruxUIPort}}

    crux:
      loadBalancer:
        servers:
          - url: http://{{.InternalHost}}:{{.CruxPort}}
