http:
  routers:
    crux-ui:
      rule: Host(`localhost`) || Host(`{{.InternalHost}}`)
      service: crux-ui
      entryPoints:
        - web

    crux:
      rule: (Host(`localhost`) || Host(`{{.InternalHost}}`)) && (PathPrefix(`/api`) && !PathPrefix(`/api/auth`) && !PathPrefix(`/api/status`))
      service: crux
      entryPoints:
        - web

  services:
    crux-ui:
      loadBalancer:
        servers:
          - url: http://{{.InternalHost}}:{{.CruxUIPort}}

    crux:
      loadBalancer:
        servers:
          - url: http://{{.InternalHost}}:{{.CruxPort}}
