version: '3.3'
services:
  crux-migrate:
    container_name: crux-migrate
    image: ghcr.io/dyrector-io/dyrectorio/web/crux:${CRUX_IMAGE_TAG}
    build:
      context: ./
    platform: linux/amd64
    environment:
      - TZ=UTC
      - DATABASE_URL=postgresql://crux:${POSTGRES_PASSWORD}@crux-postgres:5432/crux?schema=public
    command: migrate
    networks:
      - crux-intranet
  crux:
    container_name: crux
    depends_on:
      crux-migrate:
        condition: service_completed_successfully
    image: ghcr.io/dyrector-io/dyrectorio/web/crux:${CRUX_IMAGE_TAG}
    ports:
      - 5000:5000
      - 5001:5001
    environment:
      - TZ=UTC
      - DATABASE_URL=postgresql://crux:${POSTGRES_PASSWORD}@crux-postgres:5432/crux?schema=public
      - SMTP_URI=$SMTP_URI
      - FROM_EMAIL=$FROM_EMAIL
      - FROM_NAME=$FROM_NAME
      - KRATOS_ADMIN_URL=$KRATOS_ADMIN_URL
      - CRUX_UI_URL=$CRUX_UI_URL
      - CRUX_AGENT_ADDRESS=$CRUX_AGENT_ADDRESS
    restart: unless-stopped
    command: serve
    networks:
      - crux-intranet
volumes:
  crux-db:
networks:
  crux-intranet:
    name: crux-intranet
    external: true
